@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--black: #000;
	--white: #fff;
	--blue: #14213d;
	--grey: #e5e5e5;
	--yellow: #fca311;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #000000;
	color: #fff;
	padding: 50px;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--grey);
	padding-bottom: 10px;
	width: 70%;
}

h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.container {
	display: flex;
	gap: 40px;
}

.form-title {
	font-size: 1.5rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	margin-top: 10px;
}

form input {
	border-radius: 50px;
	border: none;
	padding: 10px 40px;
	text-align: center;
	font-size: 1.05rem;
}

form button {
	border: none;
	background-color: var(--yellow);
	border-radius: 50px;
	padding: 10px 40px;
	font-size: 1.05rem;
}

form button:hover {
	cursor: pointer;
	transform: scale(1.03);
}

form button:active {
	transform: scale(1.01);
	background-color: var(--blue);
	color: var(--white);
}

.shelf {
	border-left: 1px solid var(--yellow);
	padding-left: 20px;
	height: 50vh;
}

#books {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.book {
	border: 5px solid #e5e5e5;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 150px;
	width: 200px;
}

.buttons {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.book:hover {
	cursor: pointer;
}

.book button {
	align-self: flex-end;
	border: none;
	background-color: var(--yellow);
	padding: 7px 15px;
	border-radius: 3px;
}

.book button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.book button:active {
	transform: scale(1.03);
}

.book.read {
	border: 5px solid green;
}

.book-title {
	font-size: 24px;
}
